$color-primary : orange;
$color-secondary : gray;
$color-tertiary : royalblue;

$font-lg: 4rem;
$font-md: 3rem;
$font-sm: 2rem;

html {
    font: {
        size: 62.5%;
    }
}

.nav {
    background-color: $color-primary;

    ul li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-size: $font-sm;
        color: $color-secondary;

        &:hover {
            color: $color-tertiary;
        }
    }
}

@mixin headingStyles($fontSize: 5rem) {
    font-size: $fontSize;
    text-align: center;
    color: $color-secondary;
}

@mixin transtion($params...) {
    -moz-transition: $params;
    -o-transition: $params;
    -webkit-transition: $params;
    transition: $params;
}

.banner h1 {
    @include headingStyles();
}

.footer h3 {
    @include headingStyles($font-md);
    @include transtion(
        color .5s,
      background-color 1s);

    &:hover {
        color: $color-tertiary;
        background-color: $color-primary;
    }
}